body {
  font-family: "Arial", Helvetica, sans-serif;
}

.title {
  text-align: left;
  text-transform: uppercase;
  color: rgb(44, 173, 248);
  font-size: 20px;

  margin-bottom: 50px;
}

.card-header-title {
  color: #000000;
  margin-left: 25px;
  margin-top: 25px;
}

.card-progress-total-price {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.card-progress-price-primary {
  color: #94c11f;
  font-weight: 600;
  margin-right: 5px;
}

.price-secondary {
  color: red;
  font-weight: 600;
  text-decoration: line-through;
}
